[include mainsail.cfg]
#[include adxl.cfg]

[gcode_arcs]
resolution: 1.0

# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 64
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0
position_endstop: 120
position_max: 120
homing_speed: 40

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.55
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: False
diag_pin: ^PC0    # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 90 # 255 is most sensitive value, 0 is least sensitive

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 64
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0
position_endstop: 120
position_max: 120
homing_speed: 40

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.55
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: False   # Set to MCU pin connected to TMC DIAG pin
diag_pin: ^PC1
driver_SGTHRS: 70

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 64
rotation_distance: 8
homing_retract_dist: 8
endstop_pin: ^PC2
position_endstop: 112.8
position_max: 115
homing_speed: 10

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: False


[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 64
rotation_distance: 22.43 #21.64
gear_ratio: 50:17
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: ATC Semitec 104GT-2
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
min_extrude_temp: 0
max_temp: 250
#pressure_advance: 0.6
##	Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.7
sense_resistor: 0.110
stealthchop_threshold: 0
interpolate: False

#[heater_bed]
#heater_pin: PC9
#sensor_type: ATC Semitec 104GT-2
#sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
#min_temp: 0
#max_temp: 130

[heater_fan nozzle_cooling_fan]
pin: PC7

[heater_fan controller_fan]
pin: PB15

[fan]
pin: PC6

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_2F0014000550415339373620-if00

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 10000
max_z_velocity: 10
max_z_accel: 100

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 19.966
#*# pid_ki = 1.513
#*# pid_kd = 65.889
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 104.6
#*# shaper_type_y = zv
#*# shaper_freq_y = 112.0
